/* CSS Document */
body{
	background-color:#181818;
}
.main{
	margin-right: auto;
	margin-left: auto;
}
.main{
	width:900px;
	margin-top:120px;
}
.main-content{
	min-height1:500px;
	padding-bottom:100px;
}
#home_name h1{
	color:#F9F7F7;
	font-size:75px;	
	font-family:"Palatino Linotype", "Palatino", "Century Schoolbook L", "Times New Roman", serif;
	font-weight:100;
}
