/* CSS Document */
body{
	background-color:#090a05;
}
.main{
	margin-right: auto;
	margin-left: auto;
}
.main{
	width:900px;
	margin-top:-20px;
	color:#c7c4c4;
	font-size:13px;
	letter-spacing:1px;
}
.main p a{
	color:#c7c4c4;	
	font-style:italic;
}
.main h1{
	color:#F8F8F8;	
	font-size:30px;
	margin-bottom:20px;
}
.main h2{
	color:#c7c4c4;	
	font-size:18px;
}
.main-content{
	min-height:800px;
	padding-bottom:50px;
}
.row{
	color:#5f5e5e;	
}
.row p a{
	color:#5f5e5e;	
}
#home_name h1{
	color:#e5e6e0;
	font-family:Helvetica, Arial, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', sans-serif; 
	font-variant:small-caps; 
	font-size:50px; 
	float:left;
	padding-left:30px;
	margin-top:5px;
	letter-spacing:7px;
    word-spacing:5px;
}
#defaultNavbar1{
	float:right;
	padding-right:120px;
	font-size:20px;	
	color:#000000;
}
.img_left{
	float:left;
	margin:15px;	
}
.img_right{
	float:right;
	margin:15px;	
}
#video{
	padding:20px; 
	padding-left:50px; 
	margin-top:30px;
	border:1px solid #333;
}